# python3 -m venv venv
# source "/Users/abbosbobomurodov/Desktop/python tutorial/freecodecampPython/venv/bin/activate"
# uvicorn app.main:app --reload

# pip freeze > requirements.txt
annotated-types==0.6.0
anyio==4.2.0
fastapi==0.108.0
idna==3.6
passlib==1.7.4
psycopg2-binary==2.9.9
pydantic==2.5.3
pydantic_core==2.14.6
sniffio==1.3.0
SQLAlchemy==2.0.23
starlette==0.32.0.post1
typing_extensions==4.9.0
